@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;700&display=swap');

html {
    font-family: 'Mulish', sans-serif;
}

.min-w-80 { min-width: 20rem; }
.min-h-80 { min-height: 20rem; }